.card{
    width: 296px;
}
.card__top{
    padding: 7px 68px;
    background-color: $color-grey-light;
    border-radius: 40px 40px 0 0;
}
.card__img{
    width: 160px;
    height: 160px;
}
.card__bottom{
    background-color: $color-content-dark;
    display: flex;
    flex-direction: column;
    padding-top: 16px;
    padding-left: 16px;
    padding-bottom: 32px;
    border-radius: 0 0 40px 40px;
}
.card__nickname{
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
}
.nickname__img{
    width: 24px;
    height: 24px;
}
.nickname_name{
    color: white;
    @include font ($size: 16px, $height: 16px);

}
.card__name{
    color: white;
    @include font ($size: 20px, $height: 20px);
    margin-bottom: 12px;

}
.card__price{
    color: $color-primary;
    @include font ($size: 20px, $height: 20px);
    margin-bottom: 12px;

}
.card__timer{
    color: $color-grey;
    @include font ($size: 16px, $height: 16px);
}