.author__container{
    width: 100%;
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    padding: 90px 0;
}
.author__description{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.author__title{
    color: $color-content-dark;
    @include font($family: 'Russo One', $size: 60px, $height: 72.3px, $weight: 400);
    margin-bottom: 16px;

}
.author__p-bold{
    @include font($family: 'Russo One', $size: 20px, $height: 24.1px, $weight: 400);
    color: $color-content-dark;
    margin-bottom: 16px;

}
.author__p{
    @include font($size: 20px, $height: 30px, $weight: 400);
    color: $color-content-dark;
    margin-bottom: 32px;
}