.logo{
    margin-right: 64px;
}
.logo__img{
    width: 100px;
    height: 40px;
}
.navigation{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    padding: 15px 0;
}
.nav{
    display: flex;
    align-items: flex-start;
    gap: 32px;

    margin-right: auto;
}

.nav__link{
    @include font ($family: 'Muller', $size: 24px, $weight: 700, $height: 20px);
    @extend %transition;
    color: #06060B;
    &:hover {
        color: $color-primary;
    }
    &:active {
        padding: 2.8px 8.8px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid $color-primary-active;
        color: $color-content-dark;
    }

}
.navigation__button{
    padding: 17px 31.5px;
    border-radius: 77px;
    @include font ($size: 16px, $height: 16px);
    @extend %transition;
    background-color: $color-content-dark;
    color: #FFFFFF;
    &:hover{
        background-color: $color-primary;
        color: $color-content-dark;
    }
    &:active {
        background-color: $color-primary-active;
        color: $color-content-dark;
    }
}